body {
  background-color: var(--second-title-color);
  color: var(--main-title-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
}

.section {
  /* background-color: #2f303a; */
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  color: var(--main-title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}
